	/**
	{
	  font-family:"Microsoft Yahei"; 
	}*/
	header
	{
	  height:61px;
	  background:white;
	  padding:0 40px 0 60px;
	}
	#newworld
	{
	  float:left;
	  padding:15px 0;
	}
	#newworld span
	{
	  font-size:35px;
	  color:#ff4545;
	  float:left;
	}
	#newworld p
	{
	  font-size:20px;
	  color:black;
	  float:left;
	  padding:3px 0 0 8px;
	  
	}
	header ul
	{
	  list-style-type:none;
	  float:right;
	  position:relative;
	}
	header li
	{
	  float:left;
	  text-align:center;
	  line-height:60px;
	  width:70px;
	  height:60px;
	  font-size:15px;
	  margin-right:15px;
	}
	header a:link, header a:active
	{
	  color:#555;
	}
	header li:hover
	{
	  color:#ff4545;
	  border-bottom:4px solid #ff4545;
	}
	li span
	{
	  padding-right:5px;
	}
	#part1
	{
	  position:relative;
	}
	#part1 img
	{
	  width:100%;
	  margin-top:-11px;
	}
	#title
	{
	  position:absolute;
	  top:30%;
	  left:10%;
	  color:white;
	}
	#p1
	{
	  font-size:60px;
	}
	.word
	{
	  font-size:20px;
	  margin-left:5px;
	}
	#title input
	{
	  width:330px;
	  height:60px;
	  background:#ff4545;
	  border:1px solid #ff4444;
	  font-size:30px;
	  margin:50px 0 0 5px;
	  border-radius:3px;
	}
	#four-icons span
	{
	  font-size:40px;
	  color:#d45d5c;
	  width:25%;
	  margin-left:-5px;
	}
	#four-icons
	{
	  text-align:center;
	  margin:45px 0 40px 0;
	}
	#icons-word div
	{
	  width:25%;
	  border-left:2px solid #aaa;
	  float:left;
	  height:55px;
	  text-align:center;
	  color:#666;
	}
	#big-icon span
	{
	  font-size:100px;
	  color:#d44444;
	}
	#big-icon
	{
	  text-align:center;
	  font-size:50px;
	  color:#999;
	  background:#eaeaea;
	  margin-top:160px;
	  padding:80px 0 50px 0;
	}
	#big-icon p
	{
	  margin-top:15px;
	}
	#part2
	{
	  color:white;
	  height:370px;
	  background:url("https://github.com/zhongshanxian/Baidu-IFE-2017/blob/master/docs/assets/img/photo2.png?raw=true") round;
	}
	#part2-1
	{
	  position:relative;
	  top:50px;
	  text-align:center;
	}
	#part2-1 p
	{
	  font-size:20px;
	}
	#part2 hr
	{
	  width:30px;
	  border:0.1em solid white;
	  margin-top:10px;
	}
	#part2-1 hr+p
	{
	  font-size:12px;
	  margin-bottom:50px;
	}
	#part2 select
	{
	  width:240px;
	  height:36px;
	  margin:0 25px 0 0;
	  /*很关键：将默认的select选择框样式清除*/
	  -webkit-appearance:none;
	  appearance:none;
	  -moz-appearance:none;
	  padding:7px;
	  background:url("https://github.com/zhongshanxian/Baidu-IFE-2017/blob/master/docs/assets/img/select.png?raw=true") white no-repeat 212px 8px;
	  color:#444;
	}
	#part2 	option:checked,option:hover
	{
		 background:#5F9EA0;	
	  color:white;
	}
	#part2 select:hover
	{
	  border:2px solid #5F9EA0;
	}
	#part2 input
	{
	  width:240px;
	  height:36px;
	  background:#5F9EA0	;
	  border:1px solid #5F9EA0;
	  color:white;
	  letter-spacing:25px;
	  padding-left:25px;
	}
	#activities
	{
	  text-align:center;
	  width:100%;
	  height:600px;
	  background:#f1f1f1;
	}
	#activities div
	{
	  margin:0 auto;
	  height:400px;
	  width:1000px;
	}
	#activities figure
	{
	  float:left;
	  margin-right:50px;
	  margin-top:100px;
	}
	#activities img
	{
	  width:205px;
	  border:7px solid white;
	  box-shadow:0 0 1px 0 gray;
	}
	#activities figcaption
	{
	  font-size:15px;
	  padding:15px;
	}
	figcaption span
	{
	  font-size:10px;
	  color:gray;
	}
	#part3
	{
	  width:100%;
	  position:relative;
	}
	#photo1-word
	{
	  background-image:url("http://wx2.sinaimg.cn/mw1024/6aa3df83gy1fdjxwwvq12j20tx0ijn2x.jpg");
	  width:auto;
	  height:530px;
	  color:white;
	  margin-right:410px;
	  margin-left:-15px;
	  text-align:center;
	  padding-top:9%;
	}
	#tan
	{
	  border:22px solid;
	  border-color:transparent white transparent transparent;
	  height:0px;
	  width:0px;
	  float:right;
	  position:relative;
	  top:-170px;;
	}
	#myCarousel
	{
	  position:relative;
	  top:-515px;
	  height:502px;
	  width:400px;
	  color:black;
	  background:#f1f1f1;
	  text-align:center;
	  float:right;
	  margin-right:-4px;
	}
	#carousel-page p+div
	{
	  width:110px;
	  height:35px;
	  border:1px solid #d47777;
	  background:#f1f1f1;
	  padding-top:6px;
	  margin-left:150px;
	}
	#carousel-page a
	{
	  color:#d45555;
	  text-decoration:none;
	}
	#carousel-page
	{
	  position:relative;
	  top:25%;
	}
	#part3-bottom
	{
	  height:450px;
	  position:absolute;
	  top:530px; 
	  width:100%;
	}
	#photo2-word1
	{
	  height:450px;
	  background:#d44444;
	  float:left;
	  color:white;
	  width:50%;
	}
	#photo2-word2
	{
	  height:450px;
	  background:white;
	  float:left;
	  color:black;
	  width:45%;
	}
	#twowords
	{
	  height:450px; 
	  float:left;
	  margin-left:-19px;
	}
	#photo2 img
	{
	  width:426px;
	  height:450px; 
	  float:right;
	  margin-right:-34px;
	}
	#photo2-word1 div,#photo2-word2 div
	{
	  text-align:center;
	  position:relative; 
	  top:25%;
	}
	#photo2-word1 p,#photo2-word2 p
	{
	  font-size:18px;
	}
	#photo2-word1 hr
	{
	  width:30px;
	  border:0.1em solid white;
	}
	#photo2-word1 hr+div
	{
	  width:150px;
	  height:40px;
	  background:#d44444;
	  border:1px solid white;
	  font-size:20px;
	  padding-top:5px;
	  margin-left:34%;
	}
	#photo2-word1 a
	{
	  color:white;
	}
	#photo2-word1 a:hover
	{
	  color:white;
	  text-decoration:none;
	}
	#photo2-word2 hr
	{
	  width:30px;
	  border:0.1em solid gray;
	}
	#photo2-word2 hr+div
	{
	  width:150px;
	  height:40px;
	  background:white;
	  border:1px solid #d44444;
	  font-size:20px;
	  padding-top:5px;
	  margin-left:32%;
	}
	#photo2-word2 a
	{
	  color:#d44444;
	}
	#photo2-word2 a:hover
	{
	  color:#d44444;
	  text-decoration:none;
	}
	#tan1
	{
	  border:22px solid;
	  border-color:transparent transparent transparent white;
	  height:0px;
	  width:0px;
	  float:right;
	  position:absolute;
	  top:200px;
	  right:382px;
	}
	h3
	{
	  font-size:20px;
	  color:black;
	}
	#part4
	{
	  text-align:center;
	  margin:0 15px;
	}
	#part4 hr
	{
	  border:1px solid #d44444;
	  width:30px;
	  margin-top:10px;
	  margin-bottom:15px;
	}
	#part4 p
	{
	  font-size:12px;
	  color:gray;
	}
	h4
	{
	  font-size:15px;
	  margin:25px 0 20px 0;
	}
	#write
	{
	  margin-top:70px;
	}
	#item
	{
	  text-align:left;
	  padding:0 100px 0 180px;
	}
	#information
	{
	  padding-right:100px;
	}
	#information div
	{
	  background:#ddd;
	  width:300px;
	  height:40px;
	  border-radius:3px;
	  font-size:12px;
	  text-align:left;
	  padding-left:20px;
	  float:left;
	  margin:25px 0 -8px 15px;
	}
	#information div input
	{
	  background:#ddd;
	  width:200px;
	  height:40px;
	  outline:medium;
	  border:1px solid #ddd;
	}
	#des
	{
	  background:#ddd;
	  width:560px;
	  height:100px;
	  outline:medium;
	  border:1px solid #ddd;
	}
	#sub
	{
	  background:#ddd;
	  border:1px solid #111;
	  position:relative;
	  border-radius:3px;
	  color:black;
	  left:32%;
	}
	footer
	{
	  background:#334;
	  width:100%;
	  height:400px;
	  margin-top:130px;
	  color:white;
	  text-align:center;
	  padding-top:70px;
	}
	footer h3
	{
	  color:white;
	}
	footer p
	{
	  font-size:10px;
	  margin-bottom:30px;
	}
	footer p+input
	{
	  width:450px;
	  height:40px;
	  padding-left:10px;
	}
	footer input+input
	{
	  width:80px;
	  height:40px;
	  margin-left:-11px;
	  background:#666;
	  border:1px solid #666;
	}
	footer input+p
	{
	  font-size:23px;
	  margin-top:20px;
	}
	i
	{
	  margin:0 10px;
	}
	@media only screen and (max-width:1298px)
	{
	  body
	  {
	    overflow-x:scroll;
	    width:1298px;
	  }
	}
	#mask
	{
		background: rgba(0,0,0,0.7);
		/*opacity:0.7;//ie兼容
			filter:alpha(opacity=70);*/
		height: 1000px;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
	}
	#login
	{
		position: fixed;
		left: 30px;
		top: 30px;
		z-index: 200;
   color:black;
	}
	.loginCon
	{
		width: 450px;
		height: 280px;
		background: rgba(230,230,230,0.8);
		position: relative;
   padding:50px 100px;
   border-radius: 4px;
	}
	.loginCon input
	{
		width: 250px;
		height: 35px;
   border-radius: 4px;
	}
	.loginCon button
	{
		width: 100px;
		height: 35px;
		background: #d45d5c;
		border :1px solid #d44444;
		border-radius: 4px;
   margin:0 70px;
   color: white;
	}
	#close
	{
		width: 30px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 5px;
   font-size: 35px;
   line-height:30px;
	}
